<%= link_to 'Create', new_player_path %>
<% if @players == [] %>
     <p>We can't open any players</p>

 <% else %>
 <% @players.each do |post| %>
 	<p>User <b><%= player.nickname %></b> Write <br />
 	<%= player.rank %><br>
 	<%= player.charisma %><br>
 	<%= player.wisdom %><br>

 	<%= link_to 'read more ',player_path(post.id) %> </p>
 	<% end %>

 <%end %>