<%= form_for @player, url: players_path  do |f| %>
   <%= f.text_field :nickname %><br>
  <%= f.int_field :rank %><br>
  <%= f.int_area :charisma, wisdom: "60x12" %>
  <%= f.submit "Create" %>
<% end %>