<%= form_for @player, url: player_path(@player.id)  do |f| %>
   <%= f.text_field :nickname %><br>
  <%= f.int_field :rank %><br>
  <%= f.int_field :charisma,wisdom: "60x12" %>
  <%= f.submit "Edit" %>
<% end %>