<p>
	<%= @player.username %> write post: <br />
	Player: <%= @player.rank %><br />
	Charisma: <%= @player.charisma %><br />
</p>

<p>
	<%= link_to 'Edit', edit_player_path(@player.id) %><br />
	<%= link_to 'Destroy',player_path(@player.id), method: :delete %>
</p>